* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Chiron GoRound TC", sans-serif;
  .text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity, 1));
  }
}

$color-dark: #333;
$color-gray: #6e7b83;
$color-light: #f5fcfc;
$color-primary: #005f7e; // 假設藍色

//nav導覽列
.navbar {
  width: 100%;
  height: 88px;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $color-light;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .nav-area {
    .nav-area__logo {
      img {
        width: 160px;
      }
    }
    .nav-area__menu {
      ul {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0;
        li {
          margin-right: 24px;
          a {
            font-size: 16px;
            font-weight: 400;
            color: $color-dark;
            text-decoration: none;
            &:hover {
              color: $color-primary;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

//hero-banner
.hero-banner {
  height: 488px;
  position: relative;
  .slide-1 {
    position: absolute;
    background-image: url("/img/slide-1.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }
  .slide-2 {
    position: absolute;
    background-image: url("/html/slide-2.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }
  .slide-3 {
    position: absolute;
    background-image: url("/html/slide-3.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }
  .slide {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      opacity: 1;
      z-index: 1;
    }
    .slogan {
      position: absolute;
      top: 50%;
      font-size: 28px;
      color: $color-light;
      font-weight: 400;
      text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    }
  }
}

//hero-area
.hero-area {
  margin-top: 100px;
  display: flex;
  justify-content: center; // 水平置中
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 28px;
    margin-bottom: 40px;
    &::after {
      border: 1px solid red;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 20px;
      left: 50%;
    }
  }
}

//服務項目
.service {
  .service_card-area {
    display: flex;
    .service_card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 320px;
      height: 320px;
      border-radius: 12px;
      padding: 20px;
      border: 0.8px solid rgb(219, 219, 219);
      /* 保持过渡效果 */
      transition: transform 0.3s ease-in-out;
      /* 初始缩放比例 (1 表示原始大小) */
      transform: scale(1);
      h6 {
        font-size: 18px;
        font-weight: 500;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: $color-gray;
      }
      .service-button {
        background: $color-light;
        justify-content: center;
        align-items: center;
        width: 100%;
        .btn-txt {
          margin: 4px 0;
          font-family: "Chiron GoRound TC", sans-serif;
          font-weight: 400;
        }
      }
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      }
    }
    .card-2 {
      margin: 0 40px 0 40px;
    }
  }
  .area-2 {
    margin-top: 40px;
  }
}

//價錢項目
.price {
  background-color: #f6f6f8;
  padding: 60px 0 100px 0;
  .title {
    margin-bottom: 60px;
  }
  .price_card-area {
    display: flex;
    align-items: center;
    .price_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 280px;
      height: 400px;
      border-radius: 12px;
      border: 0.8px solid rgb(219, 219, 219);
      background-color: #fff;
      transition: transform 0.3s ease-in-out;
      transform: scale(1);
      .card-hero {
        width: 100%;
        padding: 32px 32px 24px 32px;
        .card_title {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 24px;
          h6 {
            font-size: 20px;
            width: fit-content;
            margin-bottom: 16px;
          }
          h5 {
            font-size: 32px;
            width: fit-content;
            color: rgb(57, 111, 228);
            margin-bottom: 8px;
          }
          p {
            font-size: 14px;
            color: $color-gray;
            margin: 0;
          }
        }
        .service-button {
          width: 100%;
          display: flex;
          justify-content: center;
          align-self: center;
          background-color: $color-gray;
          color: #f5fcfc;
          border-radius: 20px;
          opacity: 0.6;
          p {
            margin: 0;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
      .card_txt-area {
        border-top: 0.8px solid rgb(219, 219, 219);
        padding: 24px;
        width: 100%;
        .card_txt {
          display: flex;
          align-items: center;
          p {
            margin-bottom: 0;
            margin-left: 8px;
            color: $color-dark;
            opacity: 0.9;
            font-size: 16px;
          }
        }
        .card_txt-2 {
          margin: 8px 0;
        }
      }
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      }
    }
    .card-2 {
      margin: 0 60px;
      height: fit-content;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      background-image: linear-gradient(180deg, #deefff 0%, #fff 50%);
      transform: scale(1.1);
      .card-hero {
        .service-button {
          border: 1px solid $color-primary;
          background-color: #fff;
          opacity: 0.9;
          p {
            color: $color-primary;
            font-weight: 500;
          }
          &:hover {
            background-color: $color-primary;
            p {
              color: #fff;
            }
          }
        }
      }
      .card_flag {
        position: absolute;
        top: 8px;
        left: 8px;
        display: flex;
        align-items: center;
        background-color: rgb(57, 111, 228, 0.9);
        border-radius: 8px;
        padding: 2px 8px 4px 8px;
        p {
          font-size: 14px;
          font-weight: 400;
          margin: 0;
          color: #fff;
        }
        .fa-star {
          color: #fff;
        }
      }
      &:hover {
        transform: scale(1.15);
      }
    }
    .card-3 {
      .card-hero {
        .card_title {
          h5 {
            font-size: 26px;
          }
        }
        .service-button {
          background-color: $color-primary;
          opacity: 0.8;
          p {
            color: #fff;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

//聯絡我們
.contact_form {
  .form_area {
    display: flex;
    align-items: center;
    form {
      width: 400px;
      .quz {
        margin-bottom: 16px;
        .quz_title {
          display: flex;
          margin-bottom: 4px;
          label {
            margin-top: 2px;
          }
          .vnumgf {
            color: rgb(231, 60, 60);
            height: 24px;
            margin-left: 2px;
          }
        }
        .quz_input {
          width: 100%;
          height: 40px;
          border-radius: 8px;
          border: 1px solid rgb(170, 170, 170);
          padding: 0 16px;
        }
      }
      .quz_content {
        .quz_input {
          height: 140px;
          padding: 8px 16px;
          resize: none;
        }
      }
      .private_rule {
        p {
          font-size: 12px;
          margin-bottom: 4px;
          color: $color-gray;
          a {
            text-decoration: none;
            color: $color-primary;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .form_submit {
        margin-top: 16px;
        width: 100%;
        padding: 8px;
        border-radius: 8px;
        border: 0.5px solid rgb(219, 219, 219);
        color: #606060;
        &:hover {
          background-color: $color-primary;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

//footer
footer {
  background-color: $color-primary;
  .about_area {
    margin: 100px 0 0 0;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light;
    .about_us {
      text-align: center;
      color: $color-dark;
      margin-bottom: 60px;
    }
    p {
      color: $color-dark;
      opacity: 0.9;
    }
    .contact_info {
      display: flex;
      .contact_area {
        display: flex;
        align-items: center;
        p {
          color: $color-dark;
          margin-bottom: 2px;
          &:hover {
            color: $color-primary;
          }
        }
        a {
          text-decoration: none;
          color: $color-dark;
          margin-bottom: 2px;
          &:hover {
            text-decoration: underline;
            color: $color-primary;
          }
        }
        .fa-solid {
          margin-right: 8px;
          color: $color-primary;
        }
      }
      .tel {
        margin-left: 24px;
      }
    }
  }
  .footer_contect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    p {
      color: $color-light;
      font-weight: 300;
      margin: 0;
    }
    .private_area {
      position: absolute;
      right: 32px;
      a {
        color: $color-light;
        font-weight: 300;
        opacity: 0.8;
        text-decoration: none;
        margin-left: 16px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
